@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Allerta&display=swap');

@import url('https://fonts.googleapis.com/css?family=Oswald:600&display=swap');

/*
1. NAVBAR 
2. ANASAYFA AYARLARI
3. DIV ICI AYARLAR
4. FOOTER

*/

body {
  padding:0px; 
  margin:0px; 
  background-color:#fff;
  font-family:arial,helvetica,sans-serif,verdana,'Open Sans';
}
/* 1. NAVBAR  */
ul.topnav .logo {
  width: auto;
  

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}

ul.topnav li a.active {
    background-color: rgb(189, 48, 48);
}

ul.topnav li.right {
    float: right;
}


/* SLIDER CSS KODLARI  */

.ortalama {
  margin-top: 3rem;
}

/* SLIDERIN CSS KODLARI HTML ICINDE */

.aciklama {
  text-align: center;
  
}

.aciklama p {
  margin-left: 15%;
  margin-right: 15%;
}




/* 5. MOBIL UYUMLULUK */

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {
        float: none;
      }
  }


  /*  ANASAYFA ILAN CSS KODLARI   */

  .aciklama h2, h1 {
    font-family: 'Oswald', sans-serif;

  }