@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');

/*
1. NAVBAR 
2. ANASAYFA AYARLARI
3. DIV ICI AYARLAR
4. FOOTER

/* 1. NAVBAR CSS KODLARI */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav .right {
  float: right;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav img {
  float: left;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(189, 48, 48);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 920px) {
  .topnav a:not(:first-child) {
    display: none;
    
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav img {
    float: none;
    text-align: start;
  }
  

}

@media screen and (max-width: 920px) {
  .topnav.responsive {
    position: relative;
    
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

 
}


  /*  ANASAYFA SLIDER CSS KODLARI  */
            .ortalama {
              margin-top: 2rem;
              margin-bottom: 2rem;
              height: 100%;
            }
              /*jssor slider loading skin double-tail-spin css*/
              .jssorl-004-double-tail-spin img {
                animation-name: jssorl-004-double-tail-spin;
                animation-duration: 1.6s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
    
            @keyframes jssorl-004-double-tail-spin {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
    
            /*jssor slider bullet skin 031 css*/
            .jssorb031 {position:absolute;}
            .jssorb031 .i {position:absolute;cursor:pointer;}
            .jssorb031 .i .b {fill:#000;fill-opacity:0.6;stroke:#fff;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.8;}
            .jssorb031 .i:hover .b {fill:#fff;fill-opacity:1;stroke:#000;stroke-opacity:1;}
            .jssorb031 .iav .b {fill:#fff;stroke:#000;stroke-width:1600;fill-opacity:.6;}
            .jssorb031 .i.idn {opacity:.3;}
    
            /*jssor slider arrow skin 051 css*/
            .jssora051 {display:block;position:absolute;cursor:pointer;}
            .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
            .jssora051:hover {opacity:.8;}
            .jssora051.jssora051dn {opacity:.5;}
            .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

  /*   ANASAYFA LOGOLARIN CSS DOSYASI */

  .logos {
    background-color: rgb(240, 236, 240);
    text-align: center;
  }

  .logos img {
    margin-top: 1rem;
    width: 18%;
    margin-left: 10px;
    

  }

  /* ANASAYFA ILAN  */

  .ilanbulundu {
    margin-top: 4rem;
    text-align: center;
  }

  .ilan {
    margin-top: 3rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  .ilan h2 {
    font-family: 'Lato', sans-serif;

  }

  .ilan h3 {
    font-family: 'Lato', sans-serif;

  }
  .ilan img {
    width: 80%;
  }




  /*  FOOTER CSS KODLARI */


  .footer {
    text-align: center;
    background-color: #111;
    color: wheat;
  }


  /*    ANASAYFA ILANLARIN SLIDER CSS KODLARI    */ 


  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }



  /* WHATSAPP CSS KODU*/

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-float{
    margin-top:16px;
  }



 @media screen and (max-width: 750px) {
  .ilan img {
    width: 100%;
  }
  }
