@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Allerta&display=swap');

/*
1. NAVBAR 
2. ANASAYFA AYARLARI
3. DIV ICI AYARLAR
4. FOOTER

*/

body {
    margin: 0;
}
/* 1. NAVBAR  */
ul.topnav .logo {
  width: auto;
  

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}

ul.topnav li a.active {
    background-color: rgb(189, 48, 48);
}

ul.topnav li.right {
    float: right;
}

/* 2. ANASAYFA AYARLARI */

.inside {
  text-align: center;
  margin-top: 2rem;
}

.inside img {
  width: 70%;
}

.baslik {
  font-family: 'Josefin Sans', sans-serif;

}

.fiyat {
  font-family: 'Allerta', sans-serif;

}

.ilanbaslik {
  text-align: center;
}














/* 5. MOBIL UYUMLULUK */

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {
      float: none;
    }
}